
@{
    ViewBag.Title = "CancelOrder";
    Layout = "~/Views/Shared/ProductLayouts.cshtml";
}

<div class="container">
    <div class="ctnt-bar cntnt">
        <div class="content-bar">
            <div class="contact">
                <div class="container">
                    <h1>Đơn hàng đã được hủy bỏ</h1>
                    <p>Hủy đơn hàng thành công từ Ngân Lương. Vui lòng <a href="/">click vào đây</a> để về trang chủ.</p>
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>
    </div>
    </div>

