
@{
    ViewBag.Title = "Shopping Cart";
    ViewBag.MetaKeyword = "shoppingcart";
    ViewBag.MetaDescription = "Thanh Toán Sản Phẩm";
    Layout = "~/Views/Shared/ProductLayouts.cshtml";
}
<script>
    $(document).ready(function (c) {
        $('.close1').on('click', function (c) {
            $('.cart-header').fadeOut('slow', function (c) {
                $('.cart-header').remove();
            });
        });
    });
</script>
<div class="cart">
    <div id="cartContent">
        <div class="container">
            <div class="col-md-9 cart-items">
                <h2>My Shopping Bag (2)</h2>
                <button class="btn btn-danger" id="btnDeleteAll">Xóa giỏ hàng</button>
                <div id="cartBody">
                </div>
            </div>
            <div class="col-md-3 cart-total">
                <a class="continue" id="btnContinue">Continue to basket</a>
                <div class="price-details">
                    <h3>Price Details</h3>
                    <span>Total</span>
                    <span class="total">---</span>
                    <span>Discount</span>
                    <span class="total">---</span>
                    <span>Delivery Charges</span>
                    <span class="total">FREE</span>
                    <div class="clearfix"></div>
                </div>
                <h4 class="last-price">TOTAL</h4>
                <span class="total final" id="lblTotalOrder"></span>
                <div class="clearfix"></div>
                <a class="order" id="btnCheckout">Check out</a>
            </div>
        </div>
    </div>
    <div class="row" id="divCheckout" style="display:none;">
        <div class="contact">
            <div class="container">
                <h3>CHECK OUT</h3>
                <p>Please fill out your information and check out</p>
                <form method="post" id="frmPayment">
                    @if (Request.IsAuthenticated)
                    {
                        <label>
                            <input type="checkbox" id="chkUserLoginInfo" />
                            Sử dụng thông tin đăng nhập
                        </label><br />
                    }
                    <input type="text" id="txtName" name="name" placeholder="Your Full Name" required="">
                    <input type="text" id="txtAddress" name="address" placeholder="Address" required="">
                    <input type="text" id="txtEmail" name="email" placeholder="USER@DOMAIN" required="">
                    <input type="text" id="txtPhone" name="phone" placeholder="Phone" required="">
                    <textarea id="txtMessage" value="" placeholder="MESSAGE"></textarea>
                    <input type="submit"  id="btnCreateOrder" value="check out">
                </form>
            </div>
        </div>
    </div>

    <div class="clearfix"> </div>
</div>
<script id="tplCart" type="x-tmpl-mustache">

        <div class="cart-header">
            <div class="close1  btnDeleteItem" data-id="{{ProductId}}">
            </div>
            <div class="cart-sec">
                <div class="cart-item cyc">
                    <img src="{{Image}}" />
                </div>
                <div class="cart-item-info">
                    <h3>{{ProductName}}<span>Model No: 3578</span></h3>
                    <h5><span>Price: $ </span>{{PriceF}}</h5>
                    <p class="qty">Quality::</p>
                    @*<input min="1" type="number" id="quantity" name="quantity" value="1" class="form-control input-small">*@
                    <input type="number" min="1" data-id="{{ProductId}}" data-price="{{Price}}" value="{{Quantity}}" class="form-control input-small txtQuantity" />
                    <h5 class="qty" id="amount_{{ProductId}}"><span><strong>Total: $ </strong></span>{{Amount}} </h5>
                </div>
                <div class="clearfix"></div>
                <div class="delivery">

                    <p>Service Charges:: Rs.100.00</p>
                    <span>Delivered in 2-3 bussiness days</span>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
</script>



